<table style="width:100%">
  <tr>
    <th>Question</th>
    <th>Asked By</th>
    <th>Posted</th>
  </tr>

  <% @questions.reverse_each do |question| %>
    <tr>
      <td style="text-align:center"><%= link_to question.title, question_path(question.id)%></td>
      <td style="text-align:center"><%= question.user.username %></td>
      <td style="text-align:center"><%= question.created_at %></td>
    <tr>
  <% end %>
</table>

<%= link_to "Ask a new question", new_question_path %>
